.container {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.link {
	text-decoration: none;
	cursor: pointer;
	color: #8585AD;
}

.linkActive {
	color: #F2F2F3;
}

.description {
	max-width: 320px;
	padding-top: 80px;
	color: #8585AD;
	opacity: .4;
}