.container {
	max-height: calc(100vh - 288px - 56px);
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.elementContainer {
	padding: 0 16px 0 32px;
}

.elementIcon {
	display: flex;
	align-items: center;
	gap: 8px;
}

.scroll {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	max-height: 80%;
	width: 100%;
	overflow-y: scroll;
}