.container {
	display: flex;
	flex-direction: column;
	max-width: 272px;
	width: 100%;
	height: 208px;
	box-sizing: border-box;
	position: relative;
	cursor: pointer;
}

.price {
	display: flex;
	align-items: center;
	justify-content: center;
}

.description {
	text-align: center;
}

.link {
	text-decoration: none;
	color: #F2F2F3;
}