.header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1c1c21;
}

.list {
	max-width: 1280px;
	width: 100%;
	display: flex;
	padding: 16px 0;
	justify-content: space-between;
	align-items: center;
}

.linkContainer {
	display: flex;
}

.linkActive {
	text-decoration: none;
	color: #F2F2F3;
}

.link {
	text-decoration: none;
	color: #8585AD;
}

.logo {
	position: absolute;
}